@import "tailwindcss";

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: scrollLeft 32s linear infinite;
}

.animate-marquee-right {
  display: flex;
  width: max-content;
  animation: scrollRight 32s linear infinite;
}

.animate-marquee-left:hover,
.animate-marquee-right:hover {
  animation-play-state: paused;
}
